@{
    ViewData["Title"] = "Blad";
}
<section>
    <h2>Wystapil blad</h2>
    <p>Przepraszamy, cos poszlo nie tak. Wroc do <a asp-controller="Events" asp-action="Index">listy wydarzen</a>.</p>
</section>
